.reviewsList {
    list-style: none;
    padding: 0;
}

.reviewItem:not(:last-child) {
margin-bottom: 30px;
}

.reviewAuthor {
    font-weight: 600;
    font-size: 26px;
}

.reviewContent {
    font-weight: 400;
    font-size: 18px;
}